1. PGD - GenAI-Programming\slides\5- PGD AI Tools.pptx
1. PGD - GenAI-Programming\code_projects\ai_integration\ai-backend\node_modules
1. PGD - GenAI-Programming\code_projects\ai_integration\ai-backend\.env
1. PGD - GenAI-Programming\code_projects\ai_integration\ai-backend\package-lock.json


2. GFT - Tech Talks\1. Prompt Engineering for Developers\RAG-MVP\.idea
2. GFT - Tech Talks\1. Prompt Engineering for Developers\RAG-MVP\node_modules
2. GFT - Tech Talks\1. Prompt Engineering for Developers\RAG-MVP\package-lock.json
2. GFT - Tech Talks\2. AI Agents & Integrations\dev-agent-app\.env
2. GFT - Tech Talks\2. AI Agents & Integrations\dev-agent-app\package-lock.json
2. GFT - Tech Talks\2. AI Agents & Integrations\dev-agent-app\node_modules
2. GFT - Tech Talks\2. AI Agents & Integrations\dev-agent-app\server\node_modules